:root {
--main-title-color:#4D5AE5;
--second-title-color:#2E2F42;
--second-okean-color:#404BBF;
--second-slate-color: #434455;
--main-white-color: #FFFFFF;
--footer-color: #E7E9FC;
--fon-cloud-color:#F4F4FD;
}
p,h1,h2,h3,h4,h5,h6{
    margin: 0;
}
ul{
    margin: 0;
    padding-left: 0;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
body {
 font-family: "Roboto" , sans-serif; 
 color: var(--second-slate-color);
 background-color: var(--main-white-color);
}
.link {
    text-decoration: none;
}
.list {
 list-style: none;
}
.container{
    width: 1158px;
    padding-left: 15px;
 padding-right: 15px;
 margin: 0 auto;
}
.header {
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px
     rgba(46, 47, 66, 0.16), 0px 1px 6px
     rgba(46, 47, 66, 0.08);
 }
.header-container{
    display: flex;
    
}
.header-nav-link {
    display: flex;
    align-items: center;
    margin-right: auto;
}
.header-logo {
 font-family: "Raleway", sans-serif;
 font-style: normal;
 font-weight: 800;
 font-size: 18px;
 line-height: 1.17;
 letter-spacing: 0.03em;
 text-transform: uppercase;
 color: var(--main-title-color);
 margin-right: 76px;
}
.logo-web{
    color:var(--second-title-color);
}
.header-list {
 font-weight: 500;
 font-size: 16px;
 line-height: 1.5;
 letter-spacing: 0.02em;
 color: #2E2F42;
 display: flex;
 gap:40px;
}
.list {
}
.header-iten {
 font-weight: 500;
 font-size: 16px;
 line-height: 1.5;
 letter-spacing: 0.02em;
 color: #2E2F42;
 }
.header-iten :hover {
    color: #404bbf;
}
.header-item :focus {
    color: #404bbf;
}
.header-link {
 font-weight: 500;
 font-size: 16px;
 line-height: 1.5;
 letter-spacing: 0.02em;
 color: var(--second-title-color);
 text-decoration: none;
}
.header-link :hover {
    color: #404bbf;
}
.header-link :focus {
    color: #404bbf;
}
.header-address {
    font-style: normal;
}
.header-address :hover {
    color: #404BBF;
}
.header-address :focus {
    color: #404BBF;
}
.header-address-list{
    display: flex;
}
.header-address-link {
 font-size: 16px;
 line-height: 1.5;
 letter-spacing: 0.02em;
 color: #434455;
  }
.header-adder-iten {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.header-adder-iten :hover {
    color: #404BBF;
}
.header-adder-iten :focus {
    color: #404BBF;
 }
.address-tel{
    margin-left: 40px;
}
 /*section 1*/
 .hero {
 background-color: var(--second-title-color);
 background-image: linear-gradient(rgba(46, 47, 66, 0.7),
  rgba(46, 47, 66, 0.7)),
 url(../images/people-office\ 1.jpg);
 max-width: 1440px;
 margin: 0 auto;
 background-repeat: no-repeat;
 background-position: center;
 background-size: cover;
 padding-top: 180px;
 padding-bottom: 180px;
}
 .hero-list {
 font-weight: 700;
 font-size: 56px;
 line-height: 1.07;
 text-align: center;
 letter-spacing: 0.02em;
 color: var(--main-white-color);
 margin-bottom: 48px;
 margin-left:auto;
 margin-right:auto; 
 text-align: center;
 max-width: 496px;
}
.hero-list 
 backgroud-color :hover,
 :focus {
    color: var(--second-okean-color);
 }
 .hero-btn {
 padding: 16px 32px;
 min-width: 169px;
 height :56px;
 display: block;
 border-radius: 4px;
 margin:0 auto;
 font-family: inherit;
 font-weight: 500;
 font-size: 16px;
 line-height: 1.5; 
 letter-spacing: 0.04em;
 color: #FFFFFF;
 cursor: pointer;
 background: #4D5AE5;
 border-radius: 4px;
 border-color: transparent;
 box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.hero-btn:hover,
.hero-btn:focus { 
    background-color: var(--second-okean-color);
}
 /*section 2*/
 .abaut {
 padding-top: 120px;
 align-items: center;
 }
 .sambol-defs {
 height: 112px;
 border: none;
 border-radius: 4px;
 margin-bottom: 8px;
 display: flex;
 justify-content: center;
 align-content: center;
 align-items: center;
 background: #F4F4FD;
 border-radius: 4px;
}
.sambol-defs-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.sambol-defs-icon {
 }
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
  }
.abaut-calk{
    width: calc((100% - 72px) / 4);  
 }
.abaut-list {
 display: flex;
 gap: 24px;
 justify-content: center;
 }
.abaut-list-taytan{
 font-weight: 500;
 font-size: 20px;
 line-height: 1.2;
 letter-spacing: 0.02em;
 color: var(--second-title-color);
 margin-bottom: 8px;
 }

.abaut-calk{
    width: calc((100% - 72px) / 4);
}
.abaut-text {
 font-size: 16px;
 line-height: 1.5;
 letter-spacing: 0.02em;
 color: var(--second-slate-color);
}
 /*section 3*/
 .photo-comp{
 padding-top: 120px;
 padding-bottom: 120px;
 }
 .photo-comp-list{
    display: flex;
    gap: 24px;
 }
 .li-comp{
 width: calc((100% - 48px) / 3);
}
 
 .photo-comp-title {
 font-weight: 700;
 font-size: 36px;
 line-height: 1.11;
 text-align: center;
 letter-spacing: 0.02em;
 text-transform: capitalize;
 color:var(--second-title-color)
}
.photo-comp-title{
 margin-bottom: 72px;
 margin-left: auto;
 margin-right: auto;
}
 /*section 4*/
 .section-photo-person{
  background-color:var(--fon-cloud-color);
  padding-top: 120px;
  padding-bottom: 120px;
 }
.person-title {
 font-weight: 700;
 font-size: 36px;
 line-height: 1.11;
 text-align: center;
 letter-spacing: 0.02em;
 text-transform: capitalize;
 color: var(--second-title-color);
 margin-bottom: 72px;
 }
.person-list {
    display: flex;
    gap: 24px;
}
.person-item {
 background-color: var(--main-white-color);
 width: calc((100% - 72px) / 4);
 border-radius: 0px 0px 4px 4px;
 background: #FFFFFF;
 box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 
 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px
 rgba(46, 47, 66, 0.08);
}
.photo-person-name {
 font-weight: 500;
 font-size: 20px;
 line-height: 1.20;
 text-align: center;
 letter-spacing: 0.02em;
 color:var(--second-title-color);
 margin-bottom: 8px;
}
.person-item-text {
 font-size: 16px;
 line-height: 1.50;
 text-align: center;
 letter-spacing: 0.02em;
 color: var(--second-slate-color);
}
.description{
padding-top: 32px;
padding-bottom: 32px;
}
.person-soc-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 8px;
}
.person-soc-item {
    width: 40px;
    height: 40px;
}
.person-soc-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4D5AE5;
}
.person-soc-link:hover,
.person-soc-link:focus {
 background-color: #404BBF;
}
.person-soc-icon{
    fill: #FFFFFF;
 }
 /*секция5*/
 .customers {
     padding-bottom: 120px;
     padding-top: 120px;
        
 }
 .customers-name{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color:var(--second-title-color);
    margin-bottom: 72px;
 }
 .customers-soc-list{
    display: flex;
    justify-content: center;
    gap: 24px;  
 }
.customers-soc-link{
    width: 168px;
    height: 88px;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #8E8F99;
}
.customers-soc-icon{
    fill: currentcolor;
}
.customers-soc-link:hover,
.customers-soc-link:focus{
    border-color: #404BBF;
    color: #404BBF;
 }
 
 /*footer*/
 .footer-container{
   
    background-color: var(--second-title-color);
 padding-top: 100px;
 padding-bottom: 100px;
 }
 .footer-bottom-link {
 display: flex;
 }

.footer-bottom-web {
 font-family: "Raleway", sans-serif;
 font-style: normal;
 font-weight: 800;
 font-size: 18px;
 line-height: 1.17;
 display: inline-block;
 letter-spacing: 0.03em;
 text-transform: uppercase;
 color: #4D5AE5;
 text-decoration: none;
 }
 .footer-studio {
color:var(--fon-cloud-color)
 }
.footer-bottom-text {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--fon-cloud-color);
    max-width: 264px;
    margin-top: 17px;
 }
.footer-soc-item{
    width: 40px;
    height: 40px;
}
.footer-soc-link{
     width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4D5AE5;
}
.footer-soc-link:hover,
.footer-soc-link:focus{
    background: #31D0AA;   
}
.footer-soc-icon{
    fill: #F4F4FD;
    width: 20px;
    height: 20px;
    background-position: center center;
}
.footer-soc-list{
    display: flex;
    gap: 16px;
}
 .social-media{
  margin-left: 120px;
    
 }   
.social-name{
    font-weight:500;
    font-size: 16px;
    line-height: 1.5;
    color: #FFFFFF;
     margin-bottom: 16px;
  }

     /**button portfolio**/

 .batton-portfolio{
 padding-top: 96px;
 padding-bottom: 120px;
 }
 .batton-roll{
 font-family: 'Roboto', sans-serif;
 font-style:normal;
 font-weight:500;
 font-size:16px;
 line-height:1.50;
  text-align:center;
 letter-spacing: 0.04em;
  cursor:pointer;
  color: #4d5ae5;
  margin:0 auto;
  border: 1px solid #E7E9FC;
  border-radius: 4px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 24px;
  padding-right: 24px;
 }
 .batton-all{
 }
 .button-container{
    display: flex;
    align-items: center;
    text-align:center;
    gap: 24px;
    justify-content: center;
    }
.list-container{
    display: flex;
    gap: 48px 24px;
 }
.list-container{
    width: calc((100% - 48px) / 3); 
}
 .batton-roll{
    background-color: var(--fon-cloud-color);
    
}
 .batton-roll:hover, 
 .batton-roll:focus {
    color: #FFFFFF;
 background-color: #F4F4FD;
 box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
   0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.batton-roll:hover,
.batton-roll:focus { 
background-color: #404BBF;
border-color:transparent;
 } 
.person-item-list {
    list-style:none;
    text-decoration:none;
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
    margin-top: 72px;
}
.photo-person {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--second-title-color);
}
.container-text{
    margin-top: 8px;
    text-align: left;
}
.emploes-card{
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 16px;
    border-left: 1px solid #E7E9FC;
    border-right: 1px solid #E7E9FC;
    border-bottom: 1px solid #E7E9FC;
}
.list-link-link{
    display: block;
}
.list-link-link:hover,
.list-link-link:focus {
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px
  rgba(46, 47, 66, 0.08);
}




